<div class="well">
    <h2>Reaction Time Tracker</h2>
    <p>
	 	<div>{{(dbService.isAuthenticated() == true) ? "Authenticated with Dropbox" : "NOT-Authenticated"}}</div>
		<div>{{(dbService.isDatastoreOpen() == true) ? "Dropbox Datastore is Open" : "Datastore Closed"}}</div>
		<div>Sessions: {{dbService.sessionRecordCount()}}</div>
		<div>Datastore Ready: {{dbService.ready()}}</div>

		<div ng-controller="ExportControl">
	        <ng-download-csv id="content1" 
	            title="Export Trials" filename="trials.csv"></ng-download>
		</div>
	</p>
</div>

