<div class="well">
    <h2>Importing from Seth's R application</h2>
    <p>
	  	<ol>
	  		<li>Run this command in R. <br/><br/>
	  			<blockquote>
	  				<textarea rows="1" cols="50">write.csv(file="reactiontime.csv", x=newmath5)</textarea>
	  			</blockquote>
	  		</li>
	  		<li>
	  			Connect to your Dropbox account. <button type="button" class="btn btn-default" ng-click="dbService.authenticatedNavigate('/import/')">
        <div>{{(dbService.isAuthenticated() == true) ? "Currently connected to Dropbox" : "Connect to Dropbox (Not currently Connected)"}}</div>
      </button> 
	  		</li>
	  		<li>Select the reactiontime.csv file you exported from R.
					<br/><br/>
					<input class="btn btn-default" type="file" on-read-file="showContent($content)" />
					<br/>
	  		</li>
	  		<li>
	  			Press: <button type="button" class="btn btn-default"  ng-disabled="(content == null) || (!dbService.ready())"
                   ng-click="importCSV()">Import CSV File</button>
	  		</li>
	  	</ol> 

        <progressbar class="active" max="100" value="( importIndex * 100 ) / importMax" type="success">
        	<span style="color:black; white-space:nowrap;">{{importIndex}} / {{importMax}}</span>
        </progressbar>

		<div class="container">
			<h2>CSV file content is:</h2>
			<textarea rows="10" cols="80">{{content}}</textarea>
	</p>
</div>

