<div class="well">
  <h2>Reaction Time Tracker</h2>
  <p>This site lets you track your reaction speed over time. Reaction speed is an indicator of the health of your brain and by proxy, the health of your whole body. It can help you see how diet and lifestyle changes effect your health. Using this site requires a dropbox account. Your reaction time data is saved in a private location to your dropbox account but does not have access to any of your other dropbox files. Using dropbox lets you run tests from multiple devices and locations while the data is all saved together.</p>
      
  <div class="row">
    <div class="col-lg-4">
      <h2>Key Press Test</h2>
      <p>Test your reaction time using either the keyboard, mouse/trackpad or touch screen. </p>
      <button type="button" class="btn btn-primary" ng-click="dbService.authenticatedNavigate('/test/')">
        <div>{{(dbService.isAuthenticated() == true) ? "Start the test &raquo;" : "Connect to Dropbox &raquo;"}}</div>
      </button>
        
  	</div>
    <div class="col-lg-4">  
      <h2>View your results</h2>
      <p>View the results of your tests.</p>
      <button type="button" class="btn btn-primary" ng-click="dbService.authenticatedNavigate('/report/')">
        <div>{{(dbService.isAuthenticated() == true) ? "Display results (report)&raquo;" : "Connect to Dropbox &raquo;"}}</div>
      </button>
      <button type="button" class="btn btn-primary" ng-click="dbService.authenticatedNavigate('/chart/')">
        <div>{{(dbService.isAuthenticated() == true) ? "Display results (chart)&raquo;" : "Connect to Dropbox &raquo;"}}</div>
      </button>
    </div>
    <div class="col-lg-4">
      <h2>Something else goes here</h2>
      <p>This is a placeholder for something else that can be done (incomplete).</p>
      <p><a class="btn btn-primary" href="#/somethingelse/" role="button">Go do it &raquo;</a></p>
    </div>
  </div>
</div>
